# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables
*.tfvars
*.tfvars.json

# Lock file (optional)
# .terraform.lock.hcl